ASPNETCORE_URLS=http://+:80
ASPNETCORE_ENVIRONMENT=Development
DB_CONNECTION_STRING=Server=postgres;Port=5432;Database=de-urgenta-db;User Id=docker;Password=docker;
EMAIL__CONFIG__ADMINFROMEMAIL=noreply@deurgenta.ro
EMAIL__CONFIG__TEMPLATEFOLDER=EmailTemplates
EMAIL_SENDGRID_APIKEY=
SWAGGER_REDIRECT_URIS=https://localhost:5040/swagger/oauth2-redirect.html
SWAGGER_CORS=https://localhost:5040
IDENTITYSERVER_URL=http://localhost:5042
HEALTHCHECKSUI__HEALTHCHECKS__0__URI=http://localhost/healthz
HANGFIRE_USERNAME=admin
HANGFIRE_PASSWORD=demo1234
POSTGRES_PASSWORD=docker
POSTGRES_USER=docker
POSTGRES_DB=postgres
STORAGESERVICE=S3
AWS__SERVICEURL=http://deurgenta_localstack_s3:4566/
AWS__AWS_ACCESS_KEY_ID=key
AWS__AWS_SECRET_ACCESS_KEY=key
AWS__Region=eu-central-1
