  version: '3.4'

  services:
    postgres:
      image: postgres
      container_name: postgres
      environment:
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_DB: ${POSTGRES_DB}
      ports:
        - 5432:5432
      volumes:
        - ./postgres_data:/var/lib/postgresql/data

    api:
      depends_on:
        - "postgres"
      build:
        context: .
        dockerfile: Dockerfile
      environment:
        ASPNETCORE_URLS: ${ASPNETCORE_URLS}
        ConnectionStrings__DbConnectionString: ${DB_CONNECTION_STRING}
        ConnectionStrings__IdentityDbConnectionString: ${DB_CONNECTION_STRING}
      ports:
        - 5040:80
      restart: unless-stopped

    recurent-jobs:
      depends_on:
        - "postgres"
      build:
        context: .
        dockerfile: DeUrgenta.RecurringJobs.Dockerfile
      environment:
        ASPNETCORE_URLS: ${ASPNETCORE_URLS}
        ConnectionStrings__DbConnectionString: ${DB_CONNECTION_STRING}
        Hangfire__Dashboard__Username: ${HANGFIRE_USERNAME}
        Hangfire__Dashboard__Password: ${HANGFIRE_PASSWORD}
      ports:
        - 5041:80
      restart: unless-stopped