name: .NET

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
    
defaults:
  run: 
    working-directory: ./Src

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore DeUrgenta.sln
    - name: Build
      run: dotnet build --no-restore /p:ContinuousIntegrationBuild=true DeUrgenta.sln
    - name: Run unit & integration tests
      run: dotnet test --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=opencover DeUrgenta.sln
    - name: Upload dotnet test results
      uses: codecov/codecov-action@v1
